.app__profile-settings-navigation {
    width: 250px;
    padding-right: 1rem;
}

.profile-settings-navigation__links-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.profile-settings-navigation__links-list .app__nav-link {
    margin: 0;
    padding: .3rem 10px;
    font-size: 16px;
}

.app__profile-settings-navigation .icon-container {
    margin-right: .5rem;
    font-size: 14px;
}

@media(max-width: 768px) {
    .app__profile-settings-navigation {
        width: 100%;
        padding-right: 0;
        margin: 1.5rem 0;
    }

    .profile-settings-navigation__links-list {
        flex-direction: row;
        gap: 10px;
    }
}