:root {
    --navLinkColor: #353535;
    --navLinkHoverColor: #f1f1f1;
    --navLinkHoverBgc: #353535;
    --borderColor: #d0d0d0;
}

.app__profile-settings-navigation {
    width: 250px;
    padding-right: 1rem;
}

.profile-settings-navigation__links-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.profile-settings-navigation__links-list .app__nav-link {
    margin: 0;
    padding: .3rem 10px;
    font-size: 16px;
    color: var(--navLinkColor);
    background-color: #fff;
}

.profile-settings-navigation__links-list .app__nav-link:hover {
    color: var(--navLinkHoverColor);
    background-color: var(--navLinkHoverBgc);
}

.profile-settings-navigation__links-list .app__nav-link.active {
    color: var(--navLinkHoverColor);
    background-color: var(--navLinkHoverBgc);
}

.app__profile-settings-navigation .icon-container {
    margin-right: .5rem;
    font-size: 14px;
}

@media(max-width: 768px) {
    .app__profile-settings-navigation {
        width: 100%;
        padding-right: 0;
        margin: 1.5rem 0;
    }

    .profile-settings-navigation__links-list {
        flex-direction: row;
        gap: 10px;
    }
}