@use '../../variables/colors' as vars;
@use '../../mixins' as mixs;

.app__post {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: vars.$secondary-bgc;
    box-shadow: 0 0 4px vars.$block-boxShadow;
    border-radius: 5px;

    .post__header {
        padding: .5rem;
        display: flex;
        align-items: center;

        .post__creator-data-container {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: .5rem;

            .post__creator-image-link {
                display: block;

                .post__creator-image-wrapper {
                    @include mixs.circle(35px, 50%);
                    transition: .2s linear;

                    .post__creator-image {
                        @include mixs.circle(100%, 50%);
                        object-fit: cover;
                        object-position: center;
                    }
                }

                &:hover .post__creator-image-wrapper {
                    filter: brightness(.8);
                }
            }

            .post__creator-name-container {

                .post__creator-name-link {
                    margin-bottom: .2rem;
                    font-size: 14px;
                    font-weight: bolder;
                    text-decoration: none;
                    color: vars.$primary-textColor;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .post__creation-date {
                    font-size: 10px;
                    font-weight: bolder;
                    color: vars.$secondary-textColor;
                }
            }
        }

        .post__functional-buttons-container {

            .post__toggle-button {
                padding: 5px;
                font-size: 20px;
                color: vars.$primary-textColor;
                background-color: transparent;
                border: none;
                border-radius: 50%;
                transition: .2s linear;
                cursor: pointer;

                &:hover {
                    background-color: vars.$toggle-hoverButton-bgc;
                }
            }
        }
    }

    .post__body {
        border-bottom: 1px solid vars.$block-borderColor;

        .post__text-content-wrapper {
            padding: .5rem;

            .post__text-content {
                font-size: 14px;
                color: vars.$primary-textColor;
            }
        }

        .post__image-wrapper {
            height: 300px;
            overflow-y: hidden;

            .post__image {
                object-fit: cover;
                object-position: top center;
                max-width: 100%;
            }
        }

        .post__reactions-section {
            display: flex;
            gap: .5rem;
            padding: .5rem;

            .post__reaction {
                font-size: 14px;
                color: vars.$secondary-textColor;

                &[data-reaction="like"] {
                    flex-grow: 1;
                }
            }
        }

    }

    .post__footer {
        padding: .5rem;

        .post__buttons-container {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
        }
    }

}