@use '../../variables/_colors.scss' as vars;
@use '../../mixins' as mixs;

.navigation__input-container {
    @include mixs.roundedBorder(1px solid vars.$block-borderColor, 25px);
    display: flex;
    align-items: center;
    margin-left: 2rem;
    width: 100%;
    overflow: hidden;

    label {
        padding-left: 10px;
        font-size: 14px;
        color: vars.$primary-textColor;
    }

    input {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: none;
        color: vars.$primary-textColor;

        &::placeholder {
            font-size: 14px;
            transition: .2s ease-in;
        }

        &:focus {
            outline: none;

            &::placeholder {
                font-size: 12px;
            }
        }
    }
}