@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
button,
input,
input::-webkit-file-upload-button,
textarea {
    font-family: "Nunito", "Arial", sans-serif;
}

.app__wrapper {
    scroll-behavior: smooth;
}

.app__h1 {
    font-size: 30px;
}

.app__h2 {
    font-size: 28px;
    text-align: center;
}

.app__form-container {
    padding-top: 5rem;
}