.app__main {
    width: 80%;
    margin: 40px auto;
    min-height: 50rem;
}

.app__main-content {
    position: relative;
}

.app__main-background {
    position: absolute;
    width: 800px;
    top: 0;
    left: calc(50% - 400px);
    right: 50%;
    transform-origin: center;
    animation: rotatePlanet 120s linear infinite;
    transition: .3s ease-in-out;
    z-index: -1;
}

.app__main-background.aside {
    left: 0;
}

@keyframes rotatePlanet {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg);
    }
}