.app__main {
    margin: 40px 0;
    min-height: 50rem;
    position: relative;
}

.app__main-background {
    position: absolute;
    top: 0;
    left: 20px;
    max-width: 50%;
    animation: rotatePlanet 120s linear infinite;
    z-index: -1;
}

@keyframes rotatePlanet {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg);
    }
}

.app__main-content {
    width: 80%;
    margin: 0 auto;
}