.app__posts-list {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 20px;
    list-style: none;
}

.app__section.create-new {
    margin-top: 20px;
    padding: 2rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.app__post {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.app__post-head {
    text-align: center;
}

.app__post-h3 {
    font-size: 22px;
}

.app__post-img-wrapper {
    height: 250px;
    background-position: center;
    background-size: cover;
}

.app__post-head,
.app__post-description-wrapper,
.app__post-bottom {
    padding: 20px;
}

.app__post-description-wrapper {
    text-align: center;
}

.app__post-bottom {
    display: flex;
    justify-content: space-around;
}