:root {
    --borderColor: #d0d0d0;
}

.app__posts-page-header {
    display: flex;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--borderColor);
}

.app__posts-page-header .app__h1 {
    flex-grow: 1;
}

.app__posts-list {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 5rem;
    list-style: none;
}

.app__post {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.app__post-head {
    text-align: center;
}

.app__post-h3 {
    font-size: 22px;
}

.app__post-img-wrapper {
    height: 250px;
    background-position: center;
    background-size: cover;
}

.app__post-head,
.app__post-description-wrapper,
.app__post-bottom {
    padding: 20px;
}

.app__post-description-wrapper {
    text-align: center;
}

.app__post-bottom {
    display: flex;
    justify-content: space-around;
}