:root {
    --errorMessageColor: #ee0909;
    --errorMessageBgc: #fcc0c0;
    --errorMessageBorderColor: #ee0909;
    --successMessageColor: #00920a;
    --successMessageBgc: #9dee9d;
    --successMessageBorderColor: #00920a;
    --messageBoxShadowColor: #eaeaea;
}

.app__message {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 10px 3px var(--messageBoxShadowColor);
    animation: showHideMessage 3s linear both, moveMessage .3s ease-out both;
}

.app__message.error {
    color: var(--errorMessageColor);
    background-color: var(--errorMessageBgc);
    border-color: var(--errorMessageBorderColor);
}

.app__message.success {
    color: var(--successMessageColor);
    background-color: var(--successMessageBgc);
    border-color: var(--successMessageBorderColor);
}

.app__message-text {
    font-size: 16px;
}

@keyframes moveMessage {
    0% {
        top: -15%;
    }

    100% {
        top: -2%;
    }
}

@keyframes showHideMessage {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}