.app__404-page-header {
    display: flex;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--borderColor);
}

.app__404-page-header .app__h1 {
    flex-grow: 1;
}

.app__404-page-img-wrapper {
    margin: 10% auto;
    width: 500px;
    text-align: center;
}

.app__404-page-img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

@media(max-width: 1024px) {
    .app__404-page-img-wrapper {
        width: 450px;
    }

    .app__404-page-img {
        height: 450px;
    }
}

@media(max-width: 768px) {
    .app__404-page-header .app__h1 {
        font-size: 28px;
    }

    .app__404-page-img-wrapper {
        margin: 20% auto;
        width: 400px;
    }

    .app__404-page-img {
        height: 400px;
    }
}