.app__main {
    width: 80%;
    margin: 40px auto;
    min-height: 46rem;
    background:
        radial-gradient(35.36% 35.36% at 100% 25%, #0000 66%, #fafafa 68% 70%, #0000 72%) 48px 48px/calc(2*48px) calc(2*48px),
        radial-gradient(35.36% 35.36% at 0 75%, #0000 66%, #fafafa 68% 70%, #0000 72%) 48px 48px/calc(2*48px) calc(2*48px),
        radial-gradient(35.36% 35.36% at 100% 25%, #0000 66%, #fafafa 68% 70%, #0000 72%) 0 0/calc(2*48px) calc(2*48px),
        radial-gradient(35.36% 35.36% at 0 75%, #0000 66%, #fafafa 68% 70%, #0000 72%) 0 0/calc(2*48px) calc(2*48px),
        repeating-conic-gradient(#ffffff 0 25%, #0000 0 50%) 0 0/calc(2*48px) calc(2*48px),
        radial-gradient(#0000 66%, #fafafa 68% 70%, #0000 72%) 0 calc(48px/2)/48px 48px #ffffff;

}

@media(max-width: 768px) {
    .app__main {
        width: 100%;
        padding: 0 2rem;
    }
}