.app__form.edit-profile {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
    border: none;
}

.app__form.edit-profile .app__h3 {
    margin-bottom: 1rem;
}

.app__edit-profile-top {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.app__edit-profile-top,
.app__edit-profile-bottom {
    width: 100%;
}

.app__edit-profile-top .app__edit-profile-general {
    flex-grow: 1;
}

.app__edit-profile-top .app__edit-profile-bio {
    flex-grow: 2;
}

.app__edit-profile-auth {
    display: flex;
}

.app__edit-profile-auth .app__edit-profile-inputs-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.app__edit-profile-buttons-container {
    display: flex;
    gap: 20px;
    justify-content: end;
}