.app__footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    color: #fff;
}

.footer__text {
    font-size: 14px;
}

.app__footer .icon-container {
    margin-left: 5px;
}

.footer__year {
    margin: 0 5px;
}