:root {
    --navLinkColor: #353535;
    --navLinkHoverColor: #fff;
    --navLinkHoverBgc: #353535;
    --borderColor: #d0d0d0;
}

.app__main-navigation {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 4rem;
    border-bottom: 1px solid var(--borderColor);
}

.app__logo-container {
    flex-grow: 1;
    text-align: left;
}

.app__logo-container>a {
    width: fit-content;
}

.app__navigation-variant {
    display: flex;
    list-style: none;
}

.app__nav-link {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    padding: .5rem 2rem;
    font-size: 20px;
    text-decoration: none;
    color: var(--navLinkColor);
    transition: .2s linear;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px #ddd;
}

.app__main-navigation .icon-container {
    margin-right: .5rem;
    font-size: 16px;
}

.app__nav-link:hover {
    color: var(--navLinkHoverColor);
    background-color: var(--navLinkHoverBgc);
}

.active {
    color: var(--navLinkHoverColor);
    background-color: var(--navLinkHoverBgc);
}