.app__post {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.post__description-wrapper,
.post__bottom {
    padding: 10px;
}

.post__creation-details-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.post__creator-photo {
    width: 25px;
    height: 25px;
    margin-right: .5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.post__creation-details {
    flex-grow: 1;
    display: flex;
    align-self: center;
    line-height: 25px;
}

.post__creator-name {
    flex-grow: 1;
    font-size: 12px;
    font-weight: bolder;
}

.post__creation-date {
    font-size: 10px;
}

.post__h3 {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post__img-wrapper {
    height: 250px;
    overflow: hidden;
}

.post__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: .3s linear;
}

.post__img-wrapper:hover .post__image {
    transform: rotate(15deg) scale(1.5);
    filter: brightness(60%);
}

.post__description-wrapper {
    text-align: center;
}

.post__bottom {
    display: flex;
    justify-content: space-around;
}