.app__post {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #ddd;
}

.post__description-wrapper,
.post__bottom {
    padding: 10px;
}

.post__creation-details-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.post__creator-photo {
    width: 25px;
    height: 25px;
    margin-right: .5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.post__creation-details {
    flex-grow: 1;
    display: flex;
    align-self: center;
    line-height: 25px;
}

.post__creator-name {
    flex-grow: 1;
    font-size: 12px;
    font-weight: bolder;
}

.post__creation-date {
    font-size: 10px;
}

.post__h3 {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #353535;
}

.post__img-wrapper {
    height: 250px;
    overflow: hidden;
}

.post__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: .3s linear;
}

.post__img-wrapper:hover .post__image {
    /* transform: rotate(15deg) scale(1.5); */
    filter: brightness(80%);
}

.post__description-wrapper .post__description {
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
    color: #353535;
    font-weight: 300;
}

.post__bottom {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 1024px) {
    .app__post {
        max-width: 400px;
    }

    .post__h3 {
        font-size: 21px;
    }

    .post__img-wrapper {
        height: 220px;
    }

    .post__image {
        height: 220px;
    }

    .post__description-wrapper .post__description {
        font-size: 13px;
        line-height: 1.2;
    }
}

@media(max-width: 768px) {
    .app__post {
        max-width: 370px;
    }

    .post__h3 {
        font-size: 20px;
    }

    .post__img-wrapper {
        height: 200px;
    }

    .post__image {
        height: 200px;
    }

    .post__description-wrapper .post__description {
        font-size: 12px;
    }
}