.app__page.post {
    display: flex;
    flex-wrap: nowrap;
}

.app__post-single {
    width: 60%;
    margin: 0 auto;
}

.app__post-single-head {
    padding-bottom: 20px;
    text-align: center;
}

.app__post-single-h3 {
    font-size: 24px;
    font-weight: 500;
    color: #141414;
}

.app__post-single-bottom {
    padding: 20px;
}

.app__post-single-img-wrapper {
    height: 300px;
    margin-bottom: 2rem;
    background-position: center;
    background-size: cover;
}

.app__paragraph {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.app__post-single-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__post-single-bottom>* {
    width: 44%;
    text-align: center;
}