@use '../../variables/colors' as vars;
@use '../../mixins' as mixs;

.navigation-links-container__link-container {
    padding: 12px;
}

.link-container__link {
    @include mixs.flexItem(flex, center, center);
    height: 100%;
    font-size: 20px;
    color: vars.$primary-textColor;
    border-radius: 5px;
    transition: .2s linear;

    &:hover {
        @include mixs.colorEffect(vars.$primary-hover-textColor, vars.$primary-textColor);
    }
}

.active:not(.navigation__logo-link) {
    @include mixs.colorEffect(vars.$primary-hover-textColor, vars.$primary-textColor);
}