$primary-textColor: #323232;
$primary-hover-textColor: #fff;
$link-textColor: #0982e6;
$link-hover-textColor: #095ca0;
$submit-button-bgc: #323232;
$submit-button-textColor: #f6f6f6;
$submit-hoverButton-bgc: #494949;

$primary-bgc: #f4f4f4;
$secondary-bgc: #fff;
$block-boxShadow: #b6b6b6;
$block-borderColor: #b6b6b6;