$primary-textColor: #323232;
$primary-hover-textColor: #fff;

$secondary-textColor: #606060;

$link-textColor: #0982e6;
$link-hover-textColor: #095ca0;

$submit-button-bgc: #323232;
$submit-button-textColor: #f6f6f6;
$submit-hoverButton-bgc: #494949;

$toggle-hoverButton-bgc: #e8e8e8;

$like-button-bgc: #fc8073;
$comment-button-bgc: #84d2ed;
$share-button-bgc: #68d368;
$post-buttons-hover-color: #f6f6f6;

$primary-bgc: #f6f6f6;
$secondary-bgc: #fff;
$block-boxShadow: #b6b6b6;
$block-borderColor: #b6b6b6;

$successMsg-bgc: #7eed7e;
$successMsg-borderColor: #066c06;
$successMsg-textColor: #066c06;

$errorMsg-bgc: #ff8a63;
$errorMsg-textColor: #b90000;
$errorMsg-borderColor: #b90000;