@use '../variables/colors' as vars;
@use '../mixins' as mixs;

.app__header {
    @include mixs.positionElement(fixed, top, 0, left, 0);
    width: 100%;
    box-shadow: 0 4px 10px -2px vars.$block-boxShadow;

    .app__navigation {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 2rem;
        background-color: vars.$secondary-bgc;

        &>* {
            display: flex;
        }

        .navigation__logo-section {
            align-items: center;
            width: 25%;

            .navigation__logo-link {
                font-size: 40px;
                color: vars.$primary-textColor;
            }
        }

        .navigation__navigation-links-container {
            max-width: 600px;
            height: 4rem;
            margin: 0 auto;
            justify-content: space-around;
            list-style: none;
            flex-grow: 1;

            &>* {
                flex-grow: 1;
            }
        }

        .navigation__user-section {
            @include mixs.flexItem(flex, center, right);
            width: 25%;
            gap: 1.5rem;

            .user-section__link {
                text-decoration: none;

                .link__text {
                    font-size: 14px;
                    color: vars.$primary-textColor;
                }

                .link__user-image-wrapper {
                    @include mixs.circle(2.5rem, 50%);
                    overflow: hidden;

                    .user-image-wrapper__user-image {
                        @include mixs.circle(2.5rem, 50%);
                        object-fit: cover;
                        object-position: top center;
                    }
                }

                &:first-of-type:hover {
                    text-decoration: underline;
                }
            }
        }

        &.align-right {
            // display: none;

            .navigation__logo-section {
                flex-grow: 1;
                width: auto;
            }

            .navigation__navigation-links-container {
                max-width: 200px;
                margin: none;
                flex-grow: none;

                &>* {
                    flex-grow: 1;
                }
            }
        }
    }
}