@use '../variables/colors' as vars;
@use '../mixins' as mixs;

.app__header {
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 10px -2px vars.$block-boxShadow;

    .app__navigation {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 2rem;
        background-color: vars.$secondary-bgc;

        &>* {
            display: flex;
        }

        .navigation__logo-section {
            align-items: center;
            max-width: 25%;

            .navigation__logo-link {
                font-size: 40px;
            }
        }

        .navigation__navigation-links-container {
            max-width: 600px;
            height: 4rem;
            margin: 0 auto;
            justify-content: space-around;
            list-style: none;
            flex-grow: 1;

            &>* {
                flex-grow: 1;
            }
        }

        .navigation__user-section {
            max-width: 25%;
            display: flex;
            align-items: center;
            gap: 2rem;

            .user-section__link {
                text-decoration: none;

                .link__text {
                    font-size: 14px;
                }

                .link__user-image-wrapper {
                    @include mixs.circle(2rem, 50%);
                    background-color: red;

                    .user-image-wrapper__user-image {
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}